/* project section */

.projectsSection {
    width: calc(100% - 275px);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px 30px 15px 30px;
    color: black;
}

.projectsSection .projectTitle {
    font-size: 35px;
    font-family: BRUX;
    letter-spacing: 2px;
    color: #d24504;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.projectsSection .projectTitle p {
    font-size: 22px;
    font-weight: 600;
    font-family: cursive;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: normal;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.project-card {
    height: 430px;
    width: 250px;
    margin: 20px 20px;
    border: 2px solid black;
    /* background: linear-gradient(to top, transparent, #ec5712, rgb(190, 52, 178, 0.9)); */
    background: linear-gradient(to top, #1f1b16, #610166);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px 35px 10px;
    border: 7px double rgba(255, 255, 255, 0.73);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.project-card img {
    width: 140px;
    height: 140px;
}

.project-card img {
    width: 220px;
    height: 150px;
}

.taskInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.taskInfo h3 {
    font-size: 20px;
    line-height: 22px;
    margin: 0px 0px 12px 0px;
}

.taskInfo p {
    margin-top: 40px;
    color: #e74d06;
}

.taskInfo .accessible1 {
    color: #06e768;
    cursor: pointer;
}



/* resoponsive */

@media (max-width: 1000px) {
    .projectsSection {
        width: 100%;
    }

    .projectsContainer {
        padding: 10px 0px 15px 0px;
    }

    .projectsSection .projectTitle {
        font-size: 33px;
        margin-bottom: 45px;
    }

    .projectsSection .projectTitle p {
        font-size: 21px;
    }

    .project-card {
        height: 420px;
        width: 265px;
        margin: 22px 20px;
    }
}

@media (max-width: 690px) {
    .projectsContainer {
        padding: 0px;
    }

    .projectsSection .projectTitle {
        font-size: 30px;
        margin-bottom: 35px;
        margin-top: 25px;
    }

    .projectsSection .projectTitle p {
        font-size: 18px;
    }

    .project-card {
        height: 400px;
        width: 55vw;
        margin: 22px 20px;
    }
}

@media (max-width: 500px) {

    .project-card {
        height: 400px;
        width: 65vw;
        margin: 22px 20px;
    }

    .projectsSection .projectTitle p {
        font-size: 20px;
    }

    .taskInfo h3 {
        font-size: 19px;
        line-height: 22px;
        margin: 0px 0px 12px 0px;
    }

    .taskInfo p {
        font-size: 15px;
    }

    .project-card img {
        width: 135px;
        height: 135px;
    }
}

@media (max-width: 400px) {

    .project-card {
        height: 400px;
        width: 75vw;
        margin: 22px 10px;
    }
}

@media (max-width: 350px) {

    .project-card {
        height: 400px;
        width: 75vw;
        margin: 22px 5px;
    }

    .taskInfo h3 {
        font-size: 18px;
        line-height: 22px;
        margin: 0px 0px 12px 0px;
    }
}

@media (min-width: 690px) {
.project-card:hover{
    transform: scale(1.05);
    transition-duration: 0.3s;
    border: 3px solid black;
}
}
@media (max-width: 690px) {
.project-card:hover{
    transform: scale(1.05);
}
}