.aboutSection {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 15px 50px 15px 35px;
    color: black;
}

.aboutContainer {
    height: 100%;
    width: calc(100% - 275px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.secTitle {
    width: 100%;
    text-align: center;
    font-size: 66px;
    font-family: 'Bungee Spice';
}

.timeline-area {
    margin: 10px auto;
    margin-top: 0;
    width: 55vw;
    border-left: 4px solid black;
    padding: 15px 20px 0 30px;
    animation: moveline 2.9s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 85%;
    }
}

.timeline-area div {
    background-color: #fff;
    padding: 20px 25px;
    font-size: 14px;
    border: 7px double rgba(255, 255, 255, 0.73);
    line-height: 1.7;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #1f1b16, #4e2c50);
    color: white;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.timeline-area div:nth-child(1) {
    animation-delay: 0s;
}

.timeline-area div:nth-child(2) {
    animation-delay: 1s;
}

.timeline-area div:nth-child(3) {
    animation-delay: 1.9s;
}

.timeline-area div:nth-child(4) {
    animation-delay: 2.6s;
}

.timeline-area div::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid black;
    position: absolute;
    top: 10px;
    left: -46px;
}

.timeline-area div::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    border-width: 9px;
    position: absolute;
    top: 8px;
    left: -25px;
}

.timeline-area div h2 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    /* color: green; */
}

.timeline-area div h3 {
    font-family: cursive;
    margin: 0;
}

.timeline-area div h4 {
    margin: 0;
}

.edu h1,
.exp h1 {
    font-family: 'Cormorant SC', serif;
    font-size: 40px;
    font-weight: 900;
    left: -7px;
    top: 7px;
    position: relative;
    color: rgb(13, 1, 65);
    letter-spacing: 2px;
    text-shadow:
        2px 2px 0px #adabab,
        4px 4px 0px rgba(0, 0, 0, 0.3);
}

.edu {
    margin-bottom: 60px;
}

.about1 {
    width: 78vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* skills section */

.skillsCont {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.skills_section {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 7px double #510954;
    margin: 60px 0px 20px 0px;
}

.skills_head {
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
}

.skills_head h2 {
    font-family: BRUX;
    letter-spacing: 2px;
    font-size: 52px;
}

.skills_head h2 span {
    color: #e74d06;
}

.skills_head p {
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
}

.skills_main {
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skills_main .skill_bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill_bar .info p:nth-child(2) {
    font-weight: 500;
}

.skill_bar .bar {
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    /* background-color: #e74d06; */
    background-color: #68276c;
    border-radius: 25px;
}

.skill_bar .bar .html {
    width: 95%;
    animation: html 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skill_bar .bar .css {
    width: 87%;
    animation: css 2s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 87%;
    }
}

.skill_bar .bar .js {
    width: 70%;
    animation: css 2s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skill_bar .bar .react {
    width: 60%;
    animation: react 2s;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skill_bar .bar .python {
    width: 84%;
    animation: python 2s;
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 84%;
    }
}

.skill_bar .bar .c {
    width: 62%;
    animation: cAnim 2s;
}

@keyframes cAnim {
    0% {
        width: 0%;
    }

    100% {
        width: 62%;
    }
}

/* resoponsive */

@media (max-width: 1000px) {
    .aboutSection {
        padding: 10px 10px 15px 15px;
    }

    .aboutContainer {
        width: 100%;
    }

    .secTitle {
        padding: 0 5px;
        font-size: 55px;
    }

    .timeline-area {
        margin: 10px auto;
        margin-top: 0;
        width: 90vw;
    }

    .skills_head h2 {
        font-size: 45px;
    }

    .skillsCont {
        padding: 0px 8px;
    }

    .skills_section {
        width: 100%;
        height: 100%;
        padding: 25px 40px;
    }

    .skills_main {
        font-size: 18px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 690px) {
    .aboutContainer {
        padding: 40px 0px 0px 0px;
    }
    
    .secTitle {
        font-size: 40px;
        line-height: 43px;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    
    .edu h1,
    .exp h1 {
        font-size: 36px;
    }
    
    .timeline-area div::before {
        width: 7px;
        height: 7px;
        border: 2px solid black;
        top: 12px;
        left: -45px;
    }
    
    .timeline-area div::after {
        border-width: 8px;
        top: 9px;
        left: -23px;
    }
    
    .timeline-area div h2 {
        font-size: 19px;
    }
    
    .timeline-area div h3 {
        font-size: 17px;
    }
    
    .timeline-area div h4 {
        font-size: 14px;
    }
    
    .skillsCont {
        padding: 0px;
        padding-bottom: 50px;
    }

    .skills_head h2 {
        font-size: 40px;
    }

    .skills_section {
        width: 100%;
        height: 100%;
        padding: 25px 25px;
    }

    .skills_main {
        font-size: 17px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}