.contactSection {
    width: calc(100% - 275px);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px 30px 15px 30px;
    color: black;
}

.contactSection .contactTitle {
    font-size: 35px;
    font-family: BRUX;
    letter-spacing: 2px;
    color: #510954;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.contactInfo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.contactInfo1 div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
}

.contactInfo1 img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}

.mob,
.mail,
.linkedin {
    font-size: 14px;
    padding: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactTitle2 {
    font-size: 28px;
    font-family: BRUX;
    letter-spacing: 2px;
    color: #a93f0e;
}

.contactInfo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contactInfo2 form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 275px);
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 5px double rgb(80, 8, 72);
    
    font-family: 'Cormorant SC', serif;
}


/* form styling */
form label {
    font-size: 18px;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1.5px solid rgb(173, 173, 173);
    margin: 8px;
    margin-bottom: 20px;
}

input[type="submit"] {
    border: 2px solid black;
    border-radius: 2px;
    background: rgb(145, 2, 97);
    width: 16%;
    height: 45px;
    font-size: 130%;
    font-weight: 700;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    position: relative;
    left: 42%;
    color: white;
    cursor: pointer;
}

input[type="submit"]:active {
    box-shadow: 0 2px;
    transform: translateY(2px);
}

/* resoponsive */

@media (max-width: 1000px) {
    .contactSection {
        width: 100%;
    }

    .contactContainer {
        padding: 10px 10px 15px 15px;
    }

    .contactInfo1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .contactTitle {
        padding-top: 15px;
        width: 100%;
        text-align: center;
    }

    .mob,
    .mail,
    .linkedin {
        align-items: center;
        margin-top: 20px;
    }

    .contactTitle2 {
        font-size: 26px;
    }

    .contactInfo2 {
        width: 100%;
    }

    .contactInfo2 form {
        width: 100%;
        margin-top: 15px;
    }
}

@media (max-width: 690px) {
    .contactContainer {
        padding: 40px 20px;
    }

    .contactTitle {
        padding-top: 40px;
        width: 100%;
        text-align: center;
    }

    .contactInfo1 img {
        width: 35px;
        height: 35px;
        margin-bottom: 14px;
    }
    
    .mob,
    .mail,
    .linkedin {
        font-size: 14px;
        padding: 14px;
    }

    .contactTitle2 {
        font-size: 23px;
        text-align: center;
    }

    .contactInfo2 {
        width: 100%;
    }

    .contactInfo2 form {
        margin-top: 10px;
        padding: 15px 16px;
    }

    input[type="submit"] {
        border: 2px solid black;
        border-radius: 2px;
        width: 28%;
        height: 45px;
        font-size: 98%;
        font-weight: 600;
        font-family: cursive;
        font-weight: bold;
        position: relative;
        left: 36%;
    }
}